* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

#nav-container {
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
    padding: 28px 60px;
    flex-wrap: wrap;
    position: absolute;
    width: 100%;
    top: 0
}

#nav-container ul {
    display: flex;
    justify-content: space-between;
    width: 250px;
    list-style: none;
}

#nav-container ul li a {
    list-style: none;
    text-decoration: none;
    font-size: 20px;
    color: black;
}

#banner {
    background-image: url('./Assets/Banner.jpg');
    background-position: center;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: -1;

}

.front-content {}